@import "../../assets/scss/helpers/variables.scss";
@import "../../assets/scss/helpers/mixin.scss";

.hero,
.hero-room {
    width: 100%;
    height: 100vh;
    // background: url(../../assets/images/hero.jpg);
    display: flex;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: inherit;
        height: inherit;
        background-color: $purple-transparent-alt;
        z-index: -1;
    }
    .container {
        @include container;
        .main-heading {
            color: $white-color;
            line-height: 1;
            text-shadow: 1px 1px 1rem rgba(0, 0, 0, 0.5);
            margin-bottom: 2.5rem;
            .title {
                font-size: 11rem;
                text-transform: uppercase;
                letter-spacing: 3px;
                margin-bottom: 10px;
            }
            .sub-title {
                font-size: 4rem;
                font-family: "Courgette", cursive;
                font-weight: 300;
            }
        }
        .btn {
            @include btn;
            .dots {
                @include dots;
            }
        }
        .btn-gradient {
            @include btn-gradient;
        }
    }
}

.hero-room {
    height: 70vh;
    // background: url(../../assets/images/room_2.jpg);
    .container {
        .main-heading {
            margin-top: 120px;
            .title {
                font-size: 6rem;
            }
            .sub-title {
                font-size: 3.2rem;
            }
        }
    }
}
@include responsive-1200 {
}
@include responsive-1000 {
    .hero .container .main-heading .title {
        font-size: 8rem;
    }
}
@include responsive-768 {
    .hero .container .main-heading .title {
        font-size: 4.8rem;
    }
    .hero .container .main-heading .sub-title {
        font-size: 3.6rem;
    }

    .hero-room .container .main-heading {
        .title {
            font-size: 4rem;
        }
        .sub-title {
            font-size: 2rem;
        }
    }
}
