@import "../../assets/scss/helpers/mixin.scss";
@import "../../assets/scss/helpers/variables.scss";

.rooms {
    background-color: #dde9f3;
    .container {
        @include container;
        .section-head {
            text-align: center;
            margin-bottom: 5rem;
            .heading {
                display: block;
                font-size: 4rem;
                text-transform: uppercase;
                font-weight: bold;
            }
            .sub-heading {
                font-size: 1.7rem;
                font-family: "Courgette", cursive;
                font-weight: 300;
                color: #a5a5a5;
            }
        }
        .grid {
            display: grid;
            .grid-item {
                display: flex;
                justify-content: center;
                .image-wrap {
                    position: relative;
                    height: 25rem;
                    &::after {
                        content: "";
                        width: 100%;
                        height: 100%;
                        background-color: $purple-transparent-alt;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    .room-image {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                    .room-name {
                        font-size: 2.6rem;
                        background-color: $yellow-solid;
                        color: $white-color;
                        padding: 0.5rem 2rem;
                        position: absolute;
                        left: 0;
                        bottom: 2.5rem;
                        z-index: 10;
                        text-transform: capitalize;
                    }
                }
                .room-info-wrap {
                    margin-left: 1.5rem;
                    .room-price {
                        display: block;
                        font-size: 3.6rem;
                        font-weight: bold;
                        color: $yellow-solid;
                        .per-night {
                            color: $dark-color;
                            font-size: 1.4rem;
                            font-weight: 100;
                        }
                    }
                    .paragraph {
                        color: #a5a5a5;
                        margin-bottom: 2.5rem;
                    }
                    .btn {
                        @include btn;
                    }
                    .rooms-btn {
                        color: $dark-color;
                        padding: 0;
                        transition: color 0.5s;
                    }
                }
            }
            .featured-rooms {
                align-items: flex-start;
            }
        }
        .rooms-grid {
            grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
            grid-gap: 8rem;
        }
    }
}

@include responsive-1200 {
}
@include responsive-1000 {
    .rooms {
        padding: 4rem 0;
    }
    .rooms .container .grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
        grid-gap: 2.5rem;
    }
    .rooms .container .grid .grid-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .rooms .container .grid .grid-item .room-info-wrap {
        margin-left: 0;
        .room-price {
            font-size: 3.2rem;
        }
    }
}
@include responsive-768 {
}
