@import "../../assets/scss/helpers/mixin.scss";
@import "../../assets/scss/helpers/variables.scss";

.single-room {
    padding: 5rem 0 0;
    .single-room-images {
        width: 95vw;
        max-width: 1170px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-row-gap: 2rem;
        grid-column-gap: 50px;
        img {
            display: block;
            width: 100%;
        }
    }
    .single-room-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 2rem;
        width: 95vw;
        max-width: 1170px;
        margin: 2rem auto;
        font-size: 2rem;
        .desc {
            margin: 1rem 0;
            h3 {
                text-transform: capitalize;
                letter-spacing: 2px;
            }
            p {
                line-height: 1.5;
            }
        }
        .info {
            margin: 1rem 0;
            padding-left: 3rem;
            text-transform: capitalize;
            h3 {
                letter-spacing: 2px;
            }
            h6 {
                font-size: 2.5rem;
                font-weight: 300;
                padding: 0.5rem 0;
            }
        }
    }
}
.room-extras {
    width: 95vw;
    max-width: 1170px;
    margin: 0 auto;
    h6 {
        text-transform: capitalize;
        letter-spacing: 2px;
        font-weight: 700;
        margin-bottom: 1.5rem;
        font-size: 2.6rem;
    }
    .extras {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
        grid-column-gap: 2rem;
        grid-row-gap: 1rem;
        font-size: 2rem;
    }
}
@include responsive-1200 {
}
@include responsive-1000 {
    .single-room {
        .single-room-images {
            width: 80vw;
        }
        .single-room-info {
            width: 80vw;
            display: grid;
            grid-template-columns: 1fr;
            margin: 2rem auto;
            .info {
                padding-left: 0;
            }
        }
    }
    .room-extras {
        width: 80vw;
    }
}
@include responsive-768 {
}
